<div class="row clearfix">

  <div id="footer-logo-div" class="col-md-6">
    <a href="https://lib.unb.ca">
      <img id="footer-logo-img" class="footer-logo left-block"
      src="/themes/contrib/unb_lib_zircon/images/UNB_Lib_Black_Red.png">
    </a>
  </div>

  <div id="footer-copy" class="col-md-6">
    <p>
      All contents © {{ 'now'|date('Y') }} <a href="https://lib.unb.ca/archives">
      Archives & Special Collections</a>
      and <a href="https://lib.unb.ca">UNB Libraries</a>.
    </p>
  </div>
</div>
